.mainDiv {
  display: flex;
  flex: 1;
  padding: 1rem 1rem;
  width: 100%;
  position: fixed;
  left: 0;
  border-bottom: 3px solid #eaeaea;
  background-color: #eaeaea;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}
.link {
  color: #0d76fc;
  text-decoration: none;
  font-size: medium;
  font-weight: 700;
}
