.NFTDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: none;
  border-radius: 20px;
  margin-top: 6%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.nftData {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.imgNft {
  width: 50%;
  height: 50%;
}
.cardContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 95%;
}
.containerID {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 5%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .NFTDiv {
    width: 100%;
    display: flex;
    margin-top: 45%;
  }
  .cardContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
  }
  .imgNft {
    width: 70%;
  }
  .tag__info {
    font-size: xx-small;
  }
  .nftData {
    width: 100%;
    display: grid;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
  }
}
