.footer {
  display: flex;
  padding: 2rem 1rem;
  bottom: 0;
  position: relative;
  left: 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  width: 100%;

  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.icon {
  font-size: larger;
}
.icon:hover {
  color: #0070f3;
  transform: scale(1.4);
}
.footerContent {
  display: none;
}
@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    border-top: 1px solid #eaeaea;
    width: 100%;
    margin-top: 30%;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  }
  .footerContent {
    display: none;
  }
}
