.cardDiv {
  display: grid;
  justify-content: space-between;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4%;
}

@media screen and (max-width: 768px) {
  .cardDiv {
    grid-template-columns: repeat(2, 1fr);
  }
}
.container {
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgCard {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.walletPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cards {
  margin: 5%;
}
