.cardDiv {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4%;
}

.container {
  margin-top: 7%;
  display: flex;
  position: relative;
  width: 50%;
  height: 20%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
}
.imgCard {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.walletPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.cards {
  border-radius: 20px;
  margin: 5%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}
.desconectado {
  margin-top: 15%;
  color: rgb(51, 0, 255);
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 868px) {
  .cardDiv {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .cardDiv {
    grid-template-columns: repeat(1, 1fr);
  }
  .container {
    margin-top: 26%;

    width: 30%;
    height: 20%;
  }
  .walletPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10%;
  }
}
